// views/admin.pug
doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/style/index.css")
    link(rel="icon", type="image/x-icon", href="/images/favicon.ico")
  body
    header
      nav
        ul
          li: a(href='/') Accueil
          li: a(href='/achats') Achats
    main
      h1= title

      if error
        div(style="color: red; margin-bottom: 20px;") #{error}

      if success
        div(style="color: green; margin-bottom: 20px;") #{success}

    form(action='/admin' method='POST')
      div
        label(for='nom') Nom du Produit :
        input(type='text' name='nom' id='nom' value=nom || '' required)
      div
        label(for='annee') Année :
        input(type='number' name='annee' id='annee' value=annee || '' required min='1900' max='2100')
      div
        label(for='prix') Prix (€) :
        input(type='number' step='0.01' name='prix' id='prix' value=prix || '' required min='0')
      div
        label(for='stock') Stock :
        input(type='number' name='stock' id='stock' value=stock || '' required min='0')
      div
        label(for='numeroSerie') Numéro de Série :
        input(type='text' name='numeroSerie' id='numeroSerie' value=numeroSerie || '' required)
      div
        button(type='submit') Ajouter le Produit
