//- views/product.pug
doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
    link(rel="stylesheet", href="/style/produit.css")


  body
    .nav
      a(href='/') Accueil
    h1= produit.nom
    .product-details
      p 
        strong Année de Production : 
        | #{produit.annee}
      p 
        strong Prix : 
        | #{produit.prix} €
      p 
        strong Stock Disponible : 
        | #{produit.stock} articles
      if produit.stock > 0
        button#acheter-btn.acheter-btn Acheter
      else
        button#acheter-btn.acheter-btn(disabled) Épuisé
      #message
    //- Inclure jQuery
    script(src="/code/jquery.min.js")
    script.
      $(document).ready(function() {
        $('#acheter-btn').click(function() {
          // Vérifier si le bouton est désactivé
          if ($(this).is(':disabled')) {
            return;
          }
          
          // Confirmation avant l'achat
          if (confirm('Êtes-vous sûr de vouloir acheter ce produit ?')) {
            $.ajax({
              url: '/buy/' + #{produit.id},
              type: 'POST',
              success: function(response) {
                $('#message').text(response.message);
                if (response.success) {
                  // Mettre à jour le stock affiché
                  var nouveauStock = response.nouveauStock;
                  $('.product-details p:nth-child(3)').html('<strong>Stock Disponible : </strong>' + nouveauStock + ' articles');
                  // Si le stock est 0, désactiver le bouton et changer le texte
                  if (nouveauStock === 0) {
                    $('#acheter-btn').prop('disabled', true).text('Épuisé');
                  }
                }
              },
              error: function(xhr, status, error) {
                $('#message').text('Erreur lors de l\'achat.');
              }
            });
          }
        });
      });
